.header-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  margin: 0 auto;
  padding: var(--spacing-max);
  justify-content: space-between;
  background-color: var(--color-blue);
}
.header-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header-nav__link {
  margin: 0 var(--spacing-max);
}
.header-nav__link a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 24px;
}
.theme-toggle {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  color: var(--color-white);
  background: none;
  border: none;
}