:root {
  --color-white: #ffffff;
  --color-smoke: #636363;
  --color-blue: #42AAFF;
  --color-green: #57A639;
  --color-black: #000000;

  --spacing-min: 10px;
  --spacing-medium: 20px;
  --spacing-max: 30px;

  --border-radius: 5px;
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

footer, header, nav, section, main {
  display: block;
}
header {
  margin-top: 100px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.up-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  right: 0;
  
}
.up-link_hide {
  display: none;
}
.light-theme {
  background-color: #ffffff;
  color:#000000;
}
.dark-theme  {
  background-color: #373737;
  color: #ffffff;
}
.dark-theme button{
  color:#ffffff;
}
.dark-theme nav {
  background-color: #373737;
}
