.footer-container {
  display: flex;
  margin: 0 auto;
  padding: var(--spacing-max);
  justify-content: space-between;
  background-color: var(--color-blue);
}
.footer-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.footer-nav__link {
  margin: 0 var(--spacing-max);
}
.footer-nav__link a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 24px;
}