.shopping-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: var(--spacing-max);
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: var(--box-shadow);
}
.shopping-form__elem{
  display: flex;
}
.shopping-form__elem_radio {
  align-items: center;
}
.shoping-form__span {
  font-size: 18px;
  font-weight: 400;
  margin: var(--spacing-min);
}
.shopping-form__input{
  width: 50px;
}
.shopping-form__radio {
  display: block;
  align-items: center;
}
.shopping-form__item {
  align-items: center;
}
.shoping-form__textarea {
  display: block;
  margin-bottom: var(--spacing-min);
}
.shoping-form__button {
  cursor: pointer;
  margin: auto;
  background-color: var(--color-black);
  color: var(--color-white);
}