.shoes-title {
  font-size: 36px;
  font-weight: 700;
  margin: 75px auto 25px;
  width: 75%;
  max-width: 1200px;
}
.shoes-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  width: 75%;
  max-width: 1200px;
  margin: var(--spacing-max) auto;
}
.shoes-elem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.shoes-elem__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: var(--spacing-min);
}
.shoes-elem__name {
  color: var(--color-blue);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: var(--spacing-medium);
}
.shoes-elem__description {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: var(--spacing-medium);
}
.shoes-elem__date {
  text-align: end;
  font-weight: 100;
  margin-bottom: var(--spacing-medium);
}
.shoes-elem__button {
  cursor: pointer;
  font-weight: 700;
  padding: var(--spacing-min) var(--spacing-medium);
  border: 1px solid var(--color-smoke);
  border-radius: var(--border-radius);
  background-color: var(--linear-gradient);
  outline: none;
  background: none;
}
.shoes-elem__button:hover {
  color: var(--color-white);
  background: 1px solid transparent;
  background-color: var(--color-green);
}